@import "~antd/dist/antd.compact.less";

.ant-btn-primary {
  &:hover {
    background-color: #096dd9;
    border-color: #096dd9;
  }

  &:not(:hover) {
    background-color: @primary-color;
    border-color: @primary-color;
  }
}

.ant-card-head-title {
  font-size: 14px;
}
